rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only manage their own profile information
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // A user can read, write, and delete their own workout logs
    match /users/{userId}/workout-logs/{logId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
    
    // A user can read, write, and delete their own meal plans
    match /users/{userId}/meal-plans/{logId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }

    // A user can read, write, and delete their own workout plans
    match /users/{userId}/workout-plans/{logId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
