rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to create, read, and update their own user document
    match /users/{userId} {
      allow create, read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Allow users to read and write their own data in subcollections
    match /users/{userId}/{documents=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
